<form action="/names" method="post">
  <div>
    <input type="test" name="Player1_name" placeholder="What's your name?"/>
    <input type="test" name="Player2_name" placeholder="What's your name?"/>
    <input type="submit" value="submit"/>
  </div>
